@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #00343d;
  font-family: sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sticky {
  position: sticky;
  top: 0;
  font-size: 20px;
}
.background-image {
  background-image: url("public/bg.jpg");
  background-size: cover;
  background-position: center;
  transition: filter ease;
}
